@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Rooms Management Software</h1>
    <p class="lead">This system aims to mock an in-house room management software for a large, multi-national hotel brand</p>
    <p><a href="/Rooms" class="btn btn-primary btn-lg">Browse Rooms &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>General Information</h2>
        <p>
            This project mock-up is an initial version of a still-in-development web
            application in C# ASP.NET using the Entity Framework made by Aleksandar Radulovski
            (201518). It was made as a project assignment in August 2022.
        </p>
        <p><a class="btn btn-default" href="https://github.com/radulovskia">My GitHub &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>The Intention</h2>
        <p>
            This application aims to help employees as well as potential clients that are involved in the process
            of renting out rooms in one of the hotel's many units. The main entities in the system are the Rooms, Units, Guests
            and Cities. The are individual roles for each type of user, including: Admin, Staff and User.
        </p>
    </div>
</div>