@{
    ViewBag.Title = "CustomNotFound";
}

<canvas></canvas>
<div class="content" style="margin-bottom:150px">
    <h1>404, page not found :(</h1>
    <h3>Let's go @Html.ActionLink("home", "Index", "Home").</h3>
</div>